/* A3 Grid CSS - content component CSS */
/* This is provide as a reference and does not have to be used */

.gridArea {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: "area1 area2 area3";
  gap: 10px;
}

.area1 {
  grid-area: area1;
  background-color: mistyrose;
  margin-left: 2px;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  color: black;
}
.area2 {
  grid-area: area2;
  place-self: center;
  background-color: lightcyan;
}
.area3 {
  grid-area: area3;
}

.div {
  color: rgb(247, 216, 231);
  background-color: darkblue;
  font-variant: small-caps;
}

.divident {
  color: ghostwhite;
  background-color: darkgray;
  font-style: italic;
  block-size: auto;
}

.reflex {
  transform: rotate(180deg);
}
